---
import type { Pagina } from '../types';
import GitHubIcon from './GitHubIcon.astro';
interface Props {
  pagina:Pagina
}
const {pagina} = Astro.props
---
<div class="p-2 shadow-lg shadow-blue-900 my-4 mx-auto bg-blue-950 rounded-md relative">
   
  <div class="flex flex-col group-hover:opacity-0 transition-opacity ease rounded-sm overflow-hidden group h-40 cursor-pointer">
    <div class='grid gap-1 absolute top-2 right-2'>
      {
        pagina.tech.map( tag => {
          return (
            <div class='bg-blue-300 font-thin px-1 rounded text-blue-900'>
              <span>#{tag}</span>
            </div>
              )
            })
      }
  </div>
    <a href={pagina.url_web} class="group-hover:scale-110  transition-all">
      <img src={pagina.imagen } alt={`Imagen ${pagina.nombre}`} class="object-contain object-center">
    </a>
  </div>
  <h3 class="z-40 mt-2 font-bold h-10">{pagina.nombre}</h3>
  <div class='flex flex-col h-16 relative justify-end mt-3 p-2'>
    <a href={pagina.url_github} class="w-full border p-2 rounded flex gap-2 text-blue-200 text-sm font-semibold hover:scale-105 transition-all">
      <GitHubIcon />
      Ir a repositorio
    </a>
  </div>
</div>
