---
import type { Pagina } from '../types';
import GitHubIcon from './GitHubIcon.astro';
interface Props {
  pagina:Pagina
}
const {pagina} = Astro.props
---
<div class="card p-4 shadow-lg shadow-blue-900 my-4 bg-blue-950 rounded">
  <div class="rounded-lg overflow-hidden h-40 cursor-pointer relative">
    <div class='flex gap-2 absolute top-2 right-2'>
      {
        pagina.tech.map( tag => {
          return (
            <div class='bg-blue-300 font-thin px-1 rounded text-blue-900'>
              <span>#{tag}</span>
            </div>
              )
            })
      }
    </div>
    <a href={pagina.url_web}>
      <img src={pagina.imagen } alt={`Imagen ${pagina.nombre}`} class="object-cover object-center">
    </a>
  </div>
  <h3 class="mt-2 font-bold">{pagina.nombre}</h3>
  <div class='flex flex-col items-center justify-center mt-3 p-2'>
    <a href={pagina.url_github} class="w-full border p-2 rounded mt-3 flex gap-2 text-blue-200 text-sm font-semibold hover:scale-105 transition-all">
      <GitHubIcon />
      Ir a repositorio
    </a>
  </div>
</div>
